<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="/singin_message" method="post">
        <label for="email">邮箱：</label>
        <input type="text" id="email" name="email"><br>
        <label for="password">密码：</label>
        <input type="password" id="password" name="password"><br>
        <label for="username">用户名：</label>
        <input type="text" id="username" name="username"><br>
        <label for="username">教育ID：</label>
        <input type="text" id="StudyID" name="StudyID"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>